.loading-container {
    text-align: center;
    margin-top: 70px;
}

.loading-text {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}