body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
}

.navbarContainer {
    color: #3fdba7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.navbar h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-decoration: underline;
}

.nav-links a {
    color: #3fdba7;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    /* Transición suave al pasar el ratón */
}

.nav-links a:hover {
    background-color: #f31a50;
    /* Cambia el color de fondo al pasar el ratón */
}

.navbar .nav-h1 {
    color: #3fdba7;
    text-decoration: none;
}